@model GropMng.Web.Areas.Admin.Models.SoilMix.SoilMixSearchModel
@using GropMng.Web.Areas.Admin.Models.SoilMix
@using GropMng.Web.Framework.Models.DataTables
@using GropMng.Web.Framework.TagHelpers.Admin
@using Microsoft.AspNetCore.Routing
@{
    ViewData["Title"] = T("admin.soilmix.title");
    GropHtml.SetActiveMenuItemSystemName("SoilMixes");

    var addSoilMixUrl = Url.Action("Create", "SoilMix", new { area = "Admin" })!;
}

<grop-admin-page-header
    title="@T("admin.soilmix.title")"
    breadcrumbs="@(new List<AdminBreadcrumbItemModel>
    {
        new() { Text = T("common.dashboard"), Url = Url.Action("Index", "Home", new { area = "" }) },
        new() { Text = T("admin.soilmix.title") }
    })">
    <grop-header-button href="@addSoilMixUrl"
                        text="@T("admin.soilmix.create")"
                        icon="bx bx-plus"
                        css-class="btn btn-primary" />
</grop-admin-page-header>

@await Html.PartialAsync("Notifications")

@Html.AntiForgeryToken()

<div class="card mb-4">
    <div class="card-header d-flex align-items-center">
        <h5 class="card-title mb-0 me-auto">@T("common.filters")</h5>
        <button id="btnApplyFilters" class="btn btn-primary btn-sm">
            <i class="bx bx-filter-alt me-1"></i> @T("common.apply")
        </button>
        <button id="btnClearFilters" class="btn btn-outline-secondary btn-sm ms-2">
            <i class="bx bx-x me-1"></i> @T("common.clear")
        </button>
    </div>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-8">
                <grop-label asp-for="SearchTerm" />
                <grop-editor asp-for="SearchTerm" />
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Table", new GropDataTablesModel
{
    Name = "soilMixTable",
    UrlRead = new GropDataUrl("SoilMixList", "SoilMix", new RouteValueDictionary(new { area = "Admin" })),
    UrlDelete = new GropDataUrl("Delete", "SoilMix", new RouteValueDictionary(new { area = "Admin" })),
    SearchButtonId = "btnApplyFilters",
    ClearButtonId = "btnClearFilters",
    Length = Model.PageSize,
    LengthMenu = [10, 25, 50, 100],
    Filters =
    [
        new GropFilterParameter(nameof(SoilMixSearchModel.SearchTerm))
    ],
    ColumnCollection =
    [
        new GropColumnProperty("id")
        {
            Title = T("admin.soilmix.grid.id"),
            Width = "60px"
        },
        new GropColumnProperty("name")
        {
            Title = T("admin.soilmix.fields.name")
        },
        new GropColumnProperty("textureLocalized")
        {
            Title = T("admin.soilmix.fields.texture"),
            Width = "120px"
        },
        new GropColumnProperty("drainageLocalized")
        {
            Title = T("admin.soilmix.fields.drainage"),
            Width = "120px"
        },
        new GropColumnProperty("phRange")
        {
            Title = T("admin.soilmix.fields.phrange"),
            Width = "90px"
        },
        new GropColumnProperty("id")
        {
            Title = T("common.edit"),
            Width = "80px",
            ClassName = GropColumnClassDefaults.Button,
            Orderable = false,
            Searchable = false,
            Render = new RenderButtonEdit(new GropDataUrl("Edit", "SoilMix", new RouteValueDictionary(new { area = "Admin" })))
        },
        new GropColumnProperty("id")
        {
            Title = T("common.delete"),
            Width = "80px",
            ClassName = GropColumnClassDefaults.Button,
            Orderable = false,
            Searchable = false,
            Render = new RenderButtonRemove(new GropDataUrl("Delete", "SoilMix", new RouteValueDictionary(new { area = "Admin" })))
        }
    ]
})

@section Vendors {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
}

@section Scripts {
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
}
