@model GropMng.Web.Models.Dashboard.OwnerDashboardModel
@using GropMng.Web.Models.Dashboard
@{
    ViewData["Title"] = T("dashboard.owner.title").ToString();
    GropHtml.SetActiveMenuItemSystemName("Dashboard");
}

@* <div class="container-xxl flex-grow-1 container-p-y"></div> *@

    <div class="d-none" id="dashboard-anti-forgery-token">
        @Html.AntiForgeryToken()
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none" aria-hidden="true" focusable="false">
        <symbol xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="gm-icon-fretilize">
            <rect x="2" y="20.5" width="13.04" height="1.5"></rect>
            <path d="M14.07,4.26A6,6,0,0,0,9.8,6l-.25.25-.21.26a5.86,5.86,0,0,0-.59-1.49,5.69,5.69,0,0,0-1-1.28,5.92,5.92,0,0,0-2-1.31A5.85,5.85,0,0,0,3.53,2H2V3.51a6.09,6.09,0,0,0,.45,2.31,6,6,0,0,0,1.3,2,6.18,6.18,0,0,0,2,1.31A6.1,6.1,0,0,0,8,9.55V14.8H2v1.5H15V14.8H9.55v-3A5.93,5.93,0,0,0,13.8,10a6,6,0,0,0,1.31-2,5.93,5.93,0,0,0,.46-2.32V4.26ZM6.31,7.68A4.5,4.5,0,0,1,3.53,3.51a4.4,4.4,0,0,1,1.72.34,4.84,4.84,0,0,1,1.46,1,5,5,0,0,1,1,1.46A4.4,4.4,0,0,1,8,8,4.48,4.48,0,0,1,6.31,7.68Zm7.41-.18a4.39,4.39,0,0,1-1,1.46,4.32,4.32,0,0,1-1.46,1,4.36,4.36,0,0,1-1.72.34,4.4,4.4,0,0,1,.34-1.72,4.47,4.47,0,0,1,1-1.46,4.34,4.34,0,0,1,1.47-1,4.46,4.46,0,0,1,1.73-.35A4.51,4.51,0,0,1,13.72,7.5Z"></path>
            <rect x="2" y="17.65" width="13.04" height="1.5"></rect>
            <path d="M19.75,12.35A2.25,2.25,0,1,1,22,10.1,2.25,2.25,0,0,1,19.75,12.35Zm0-3.5A1.25,1.25,0,1,0,21,10.1,1.25,1.25,0,0,0,19.75,8.85Z"></path>
            <path d="M19.75,17.42A2.25,2.25,0,1,1,22,15.17,2.25,2.25,0,0,1,19.75,17.42Zm0-3.5A1.25,1.25,0,1,0,21,15.17,1.25,1.25,0,0,0,19.75,13.92Z"></path>
            <path d="M19.75,22.5A2.25,2.25,0,1,1,22,20.25,2.25,2.25,0,0,1,19.75,22.5Zm0-3.5A1.25,1.25,0,1,0,21,20.25,1.25,1.25,0,0,0,19.75,19Z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="gm-icon-otl_bug">
            <path d="m21.55 9.11-1.84.92c-.37-1.63-1.09-3.09-2.07-4.25l2.07-2.07L18.3 2.3l-2.12 2.12c-1.22-.89-2.64-1.41-4.17-1.41s-2.96.52-4.17 1.41L5.72 2.3 4.31 3.71l2.07 2.07c-.98 1.16-1.7 2.62-2.07 4.25l-1.84-.92-.89 1.79 2.46 1.23c0 .12-.02.25-.02.37 0 .51.04 1.01.11 1.5H2.02v2h2.57c.17.5.37.97.6 1.42L3.31 19.3l1.41 1.41 1.58-1.58C7.75 20.9 9.78 22 12.02 22s4.26-1.1 5.72-2.87l1.58 1.58 1.41-1.41-1.88-1.88c.23-.45.43-.92.6-1.42h2.57v-2h-2.11c.07-.49.11-.99.11-1.5 0-.13-.01-.25-.02-.37l2.46-1.23-.89-1.79ZM16.79 8H7.21c1.1-1.82 2.83-3 4.79-3s3.69 1.18 4.79 3M13 19.89V13h-2v6.89c-1.28-.27-2.43-1.05-3.3-2.17s-.06-.07-.06-.07c-1.02-1.34-1.65-3.15-1.65-5.15 0-.88.13-1.72.35-2.5h11.3c.22.78.35 1.62.35 2.5 0 1.99-.63 3.8-1.65 5.15l-.06.06c-.87 1.13-2.02 1.91-3.3 2.18Z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="gm-icon-watering-alt">
    <path d="M13.85,12.8l-.16-.2L10.8,9.28A.6.6,0,0,0,10,9.2L8,10.69a.29.29,0,0,1-.17.07h0a.22.22,0,0,1-.2-.1.27.27,0,0,1,0-.19A3.36,3.36,0,0,1,7.7,9.42,3.68,3.68,0,0,1,12,6.72,3.61,3.61,0,0,1,14.77,9a3,3,0,0,1-.66,3.55ZM9.3,8.5h0l.12-.09a1.59,1.59,0,0,1,.94-.32,1.56,1.56,0,0,1,1.18.55l2.33,2.67a2,2,0,0,0,0-1.88,2.63,2.63,0,0,0-2.06-1.74,2.44,2.44,0,0,0-.53-.05A2.64,2.64,0,0,0,9.3,8.5Z"></path>
    <path d="M7.76,21.06a1.81,1.81,0,0,1-1.39-.66L4.5,18.26,2.5,16a1.82,1.82,0,0,1,.3-2.71c.15-.11.75-.61,1.28-1l.16-.13,1.37-1.14a5.52,5.52,0,0,1,.08-1.67,5.73,5.73,0,0,1,5.08-4.59l0,0h.54a6.33,6.33,0,0,1,1.37.16,5.73,5.73,0,0,1,3,9.3l-.34.38,1.42.23.84-.83.16-.13a1.08,1.08,0,0,1,1.15-.1,1.11,1.11,0,0,1,.59,1.11c-.05.91-.16,2.55-.23,3.5a1.12,1.12,0,0,1-.67,1A1.1,1.1,0,0,1,17.37,19l-.16-.17c-.17-.25-.43-.57-.66-.86l-5,.29-.46.41-.47.42c-.67.6-1.41,1.28-1.5,1.37A1.87,1.87,0,0,1,7.76,21.06ZM11.33,5.89h0a4.48,4.48,0,0,0-4.41,5.29.43.43,0,0,1-.18.47c-.21.15-1,.81-1.69,1.39s-1.29,1.08-1.48,1.22a.63.63,0,0,0-.27.43.6.6,0,0,0,.17.47l3.86,4.43a.59.59,0,0,0,.91,0c.13-.13.85-.78,1.55-1.41.52-.46,1-.88,1.09-1a.55.55,0,0,1,.35-.15l5.66-.33h0a.53.53,0,0,1,.39.16l.06.07c.21.26.48.59.71.89.06-.85.14-2,.19-2.88-.31.31-.68.67-.94.91a.56.56,0,0,1-.32.11h-.07l-3.63-.6-.48-.08.42-.48c.33-.31,1.18-1.15,1.52-1.54A4.49,4.49,0,0,0,12.37,6,4.56,4.56,0,0,0,11.33,5.89Z"></path>
    <path d="M21.08,22a.88.88,0,0,1-.5-.17.82.82,0,0,1-.35-.87,3.79,3.79,0,0,1,.42-1.07l.18-.36.24.24a4.28,4.28,0,0,1,.77.89A1,1,0,0,1,22,21a.84.84,0,0,1-.43.84A.86.86,0,0,1,21.08,22ZM21,20.32a2.67,2.67,0,0,0-.25.68.32.32,0,0,0,.15.37.38.38,0,0,0,.6-.35.82.82,0,0,0-.06-.16A3.59,3.59,0,0,0,21,20.32Z"></path>
    <path d="M20.78,19.32a.68.68,0,0,1-.6-.35c-.09-.16-.19-.39-.25-.51s-.24-.6-.24-.6a5.41,5.41,0,0,1,.64,0,5.92,5.92,0,0,1,.62.06.69.69,0,0,1,.57.68.73.73,0,0,1-.51.72A1,1,0,0,1,20.78,19.32Zm-.36-1c.06.13.13.27.2.4a.19.19,0,0,0,.24.07.23.23,0,0,0,.16-.23.18.18,0,0,0-.15-.19A3.44,3.44,0,0,0,20.42,18.33Z"></path>
  </symbol>
        
        <symbol xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="gm-icon-watering">
            <path d="M8,15.49v-6A5.92,5.92,0,0,1,5.73,9a6,6,0,0,1-2-1.31,5.85,5.85,0,0,1-1.3-1.95A6.14,6.14,0,0,1,2,3.44V1.93H3.53a5.87,5.87,0,0,1,2.29.47A5.91,5.91,0,0,1,8.75,5a6,6,0,0,1,.59,1.49l.21-.25L9.8,6a6,6,0,0,1,1.95-1.31,6.11,6.11,0,0,1,2.32-.46h1.5V5.7A6,6,0,0,1,13.8,10a5.76,5.76,0,0,1-1.94,1.3,6.09,6.09,0,0,1-2.31.45v3.77ZM8,8A4.36,4.36,0,0,0,7.7,6.24a4.72,4.72,0,0,0-1-1.46,4.5,4.5,0,0,0-1.46-1,4.41,4.41,0,0,0-1.72-.35,4.56,4.56,0,0,0,1.31,3.2A4.51,4.51,0,0,0,8,8Zm1.51,2.26a4.55,4.55,0,0,0,1.72-.34,4.47,4.47,0,0,0,1.46-1,4.54,4.54,0,0,0,1-1.47,4.46,4.46,0,0,0,.35-1.73,4.46,4.46,0,0,0-1.73.35,4.34,4.34,0,0,0-1.47,1,4.42,4.42,0,0,0-1.32,3.18Z"></path>
            <rect x="2" y="20.44" width="13.04" height="1.5"></rect>
            <rect x="2" y="14.74" width="13.04" height="1.5"></rect>
            <rect x="2" y="17.59" width="13.04" height="1.5"></rect>
            <path d="M19.11,22a2.87,2.87,0,0,1-2.87-2.86,5,5,0,0,1,2.65-4.07l.22-.11.22.11A5,5,0,0,1,22,19.12,2.87,2.87,0,0,1,19.11,22Zm0-5.91a4,4,0,0,0-1.87,3.05,1.87,1.87,0,0,0,3.74,0A4,4,0,0,0,19.11,16.07Z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="gm-icon-alarm-check">
            <path d="M21 13c0-4.88-4.12-9-9-9s-9 4.12-9 9 4.12 9 9 9 9-4.12 9-9m-9 7c-3.79 0-7-3.21-7-7s3.21-7 7-7 7 3.21 7 7-3.21 7-7 7"></path>
            <path d="m11 13.59-2.29-2.3-1.42 1.42 3.71 3.7 5.71-5.7-1.42-1.42zm7.7-11.3-.71.71-.71.71 1.51 1.5 1.5 1.5L21 6l.71-.71-1.51-1.5zM3.71 6.71l1.49-1.5 1.5-1.5L5.99 3l-.71-.71-1.49 1.5-1.5 1.5L3 6z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="gm-icon-water-volume">
            <path d="M12,2C8,3.41,4.21,9.62,4.21,13.92a7.79,7.79,0,1,0,15.58,0C19.79,9.62,16,3.41,12,2Zm0,1.62c2.34,1.12,4.74,4.34,5.77,7.43A5.48,5.48,0,0,0,15,12.22a4.3,4.3,0,0,1-3,1,3.72,3.72,0,0,1-2.86-.95A4.9,4.9,0,0,0,6.24,11C7.28,7.93,9.67,4.74,12,3.62Zm0,16.59a6.29,6.29,0,0,1-6.29-6.29,8,8,0,0,1,.14-1.43,3.49,3.49,0,0,1,2.33.92A5.15,5.15,0,0,0,12,14.69a5.8,5.8,0,0,0,3.92-1.25,4.08,4.08,0,0,1,2.25-.93,7.83,7.83,0,0,1,.14,1.41A6.29,6.29,0,0,1,12,20.21Z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="gm-icon-fertillize-volume">
    <path d="M18.83,8.21V7.94a1.72,1.72,0,0,0-.78-1.44A2.15,2.15,0,0,0,16.81,5a2.59,2.59,0,0,0-2.65-1.72,2.67,2.67,0,0,0-4.7.25,2.14,2.14,0,0,0-2,1.57,1.86,1.86,0,0,0-1.7,1.6,1.72,1.72,0,0,0-.54,1.25v.27a1.75,1.75,0,0,0,.7,1.39,19.31,19.31,0,0,0-.7,5.06,17.41,17.41,0,0,0,.52,4.06A1.74,1.74,0,0,0,5.23,20v.27A1.73,1.73,0,0,0,7,22H17.09a1.73,1.73,0,0,0,1.74-1.73V20a1.71,1.71,0,0,0-.53-1.24,16.82,16.82,0,0,0,.53-4.06,18.77,18.77,0,0,0-.71-5.06A1.73,1.73,0,0,0,18.83,8.21Zm-11.66,10a15.83,15.83,0,0,1-.44-3.56A18.09,18.09,0,0,1,7.39,10h9.27a17.53,17.53,0,0,1,.67,4.71,15.91,15.91,0,0,1-.45,3.56Zm10.16-10a.24.24,0,0,1-.24.24H7a.23.23,0,0,1-.23-.24V7.94A.23.23,0,0,1,7,7.71H17.09a.23.23,0,0,1,.24.23ZM9.73,5.06l.85.3.14-.89a1.18,1.18,0,0,1,1.16-1A1.17,1.17,0,0,1,13,4.33l.23.79L14,4.83a1.12,1.12,0,0,1,1.46.86l.07.52H9l-.1-.4a.89.89,0,0,1,0-.15A.65.65,0,0,1,9.73,5.06Zm7.6,15.17a.23.23,0,0,1-.24.23H7a.23.23,0,0,1-.23-.23V20A.23.23,0,0,1,7,19.72H17.09a.24.24,0,0,1,.24.24Z"></path>
    <path d="M14.39,11.91c-.1,0-2.57-.43-3.89.88a2.75,2.75,0,0,0-.45.61,2.19,2.19,0,0,0,.36,2.69,2.22,2.22,0,0,0,1.56.66,2.36,2.36,0,0,0,1.13-.3,2.73,2.73,0,0,0,.6-.46c1.32-1.31.9-3.78.89-3.88a.23.23,0,0,0-.2-.2m-1,3.74a2.7,2.7,0,0,1-.5.37,1.72,1.72,0,0,1-1.72,0,3.85,3.85,0,0,1,1.56-2.48,4.28,4.28,0,0,0-2.09,2,1.7,1.7,0,0,1-.13-1.93,2.09,2.09,0,0,1,.37-.5c1-1,2.71-.84,3.28-.77.06.56.17,2.32-.78,3.27Z"></path>
    <path d="M12,17a2.5,2.5,0,0,1-2.14-3.72,3,3,0,0,1,.49-.67c1.41-1.41,4-1,4.11-.95a.48.48,0,0,1,.4.41c.05.27.41,2.73-.95,4.1a3,3,0,0,1-.66.5A2.65,2.65,0,0,1,12,17Zm-1.28-1a.86.86,0,0,0,.18.14l0-.15a3.52,3.52,0,0,1,.21-.77,4.17,4.17,0,0,0-.26.46Zm.73-.11a1.49,1.49,0,0,0,1.32-.09,1.83,1.83,0,0,0,.36-.26l.08-.07a3.91,3.91,0,0,0,.72-2.88,4,4,0,0,0-2.88.72,2.14,2.14,0,0,0-.32.45,1.41,1.41,0,0,0-.09,1.31,4.43,4.43,0,0,1,2-1.75l.25.44A3.65,3.65,0,0,0,11.42,15.89Z"></path>
  </symbol>

        <symbol xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="gm-icon-check-circle">
            <path d="M12 22C6.49 22 2 17.51 2 12S6.49 2 12 2s10 4.49 10 10-4.49 10-10 10m0-18c-4.41 0-8 3.59-8 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8"></path>
            <path d="M10 16c-.26 0-.51-.1-.71-.29l-3-3L7.7 11.3l2.29 2.29 5.29-5.29 1.41 1.41-6 6c-.2.2-.45.29-.71.29Z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="gm-icon-snooze">
            <polygon points="15.5 17.26 8.5 17.26 8.5 15.94 12.98 11.26 8.5 11.26 8.5 9.76 15.46 9.76 15.5 11.08 11.02 15.76 15.5 15.76 15.5 17.26"></polygon>
            <path d="M12,22a8.5,8.5,0,1,1,8.5-8.5A8.51,8.51,0,0,1,12,22Zm0-15.5a7,7,0,1,0,7,7A7,7,0,0,0,12,6.51Z"></path>
            <path d="M5.36,6.26,4.3,5.2A10.85,10.85,0,0,1,9.18,2.38l.39,1.44A9.49,9.49,0,0,0,5.36,6.26Z"></path>
            <path d="M18.64,6.26a9.49,9.49,0,0,0-4.21-2.44l.39-1.44A10.85,10.85,0,0,1,19.7,5.2Z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" id="gm-icon-info">
            <path d="M11 11h2v6h-2zm0-4h2v2h-2z"></path>
            <path d="M12 22c5.51 0 10-4.49 10-10S17.51 2 12 2 2 6.49 2 12s4.49 10 10 10m0-18c4.41 0 8 3.59 8 8s-3.59 8-8 8-8-3.59-8-8 3.59-8 8-8"></path>
        </symbol>
        
        <symbol id="gm-icon-leaf" viewBox="0 0 24 24">
            <path fill="currentColor" d="M21 3.5c-5.9.4-10 2.3-12.7 5.6c-2.6 3.1-3.4 6.8-3.2 10.4l-2.4 2.3l1.4 1.4l2.4-2.3c3.6.3 7.3-.6 10.4-3.2C20.2 15 22.1 10.9 22.5 5L23 3l-2 .5zm-2.5 3.2c-.6 4.4-2.1 7.5-4.5 9.5c-2.1 1.8-4.7 2.5-7.4 2.4l6.5-6.5l-1.4-1.4l-6.5 6.5c-.2-2.6.6-5.2 2.4-7.4c2-2.4 5.1-3.8 9.5-4.5z"/>
        </symbol>
    </svg>
    
    <!-- Global Actions -->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
        <div class="d-flex flex-column justify-content-center">
            <h4 class="mb-1 mt-3">@T("dashboard.owner.title")</h4>
            <p class="text-muted">@T("dashboard.owner.subtitle")</p>
        </div>

        <div class="d-flex align-content-center flex-wrap gap-2">
            <div class="px-0">
                <a href="@Url.Action("List", "PlantInstance")" class="btn btn-label-secondary me-2">
                    @T("dashboard.owner.cta.myplants")
                </a>
            </div>
            
            <button type="button"
                    id="btn-water-all"
                    class="btn btn-primary"
                    data-label="@T("dashboard.owner.cta.waterall")"
                    data-success-template="@T("dashboard.owner.toast.waterall.success.template")">
                @T("dashboard.owner.cta.waterall")
            </button>
            <button type="button"
                    id="btn-fertilize-all"
                    class="btn btn-primary d-none"
                    data-label="@T("dashboard.owner.cta.fertilizeall")"
                    data-success-template="@T("dashboard.owner.toast.fertilizeall.success.template")">
                @T("dashboard.owner.cta.fertilizeall")
            </button>
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dashboardSpotFilter" data-bs-toggle="dropdown" aria-expanded="false">
                    <span id="dashboardSpotFilterLabel">@(Model.AvailableGardenSpots.FirstOrDefault(x => x.Selected)?.Text ?? T("dashboard.owner.filter.allspots").ToString())</span>
                </button>
                <div class="dropdown-menu dropdown-menu-end" id="dashboardSpotFilterMenu" aria-labelledby="dashboardSpotFilter">
                    @foreach (var spot in Model.AvailableGardenSpots) {
                        <a class="dropdown-item @(spot.Selected ? "active" : string.Empty)" href="javascript:void(0);" data-spot-value="@spot.Value">@spot.Text</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--/ Global Actions end -->

    <!-- Counters Section selector -->
    <div class="row mb-4 g-3 counters-wrapper">
        <div class="col-sm-4">
            <div class="card card-border-shadow-primary active">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-start gap-3 w-100">
                        <button type="button" class="d-flex align-items-center dashboard-section-btn gap-3" data-section="watering">
                            <span class="badge bg-label-primary rounded-circle p-2">
                                <svg aria-hidden="true" class="icon3 active">
                                    <use href="#gm-icon-watering-alt" />
                                </svg>
                            </span>
                            <div class="content-left">
                                <h3 class="mb-0 active" id="watering-count">@Model.WateringTab.TodayOverdueCount</h3>
                                <small class="active">@T("dashboard.owner.tab.watering")</small>
                            </div>
                        </button>
                        <div class="d-flex align-items-center gap-2 ms-auto">
                            <small>@T("dashboard.owner.filter.showupcoming")</small>
                            <label class="switch switch-primary me-4 pe-2">
                                <input type="checkbox" class="switch-input dashboard-show-upcoming" data-section="watering">
                                <span class="switch-toggle-slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-start gap-3 w-100">
                        <button type="button" class="d-flex align-items-center dashboard-section-btn gap-3" data-section="fertilizing">
                            <span class="badge bg-label-primary rounded-circle p-2">
                                <svg aria-hidden="true" class="icon3">
                                    <use href="#gm-icon-fretilize" />
                                </svg>
                            </span>
                            <div class="content-left">
                                <h3 class="mb-0" id="fertilizing-count">@Model.FertilizingTab.TodayOverdueCount</h3>
                                <small>@T("dashboard.owner.tab.fertilizing")</small>
                            </div>
                        </button>
                        <div class="d-flex align-items-center gap-2 ms-auto">
                            <small>@T("dashboard.owner.filter.showupcoming")</small>
                            <label class="switch switch-primary me-4 pe-2">
                                <input type="checkbox" class="switch-input dashboard-show-upcoming" data-section="fertilizing">
                                <span class="switch-toggle-slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <button type="button" class="d-flex align-items-center justify-content-start gap-3 dashboard-section-btn" data-section="diseases">
                        <span class="badge bg-label-primary rounded-circle p-2">
                            <svg aria-hidden="true" class="icon3">
                                <use href="#gm-icon-otl_bug" />
                            </svg>
                        </span>
                        <div class="content-left">
                            <h3 class="mb-0">@Model.DiseaseTab.ActiveCases.Count</h3>
                            <small>@T("dashboard.owner.tab.diseases")</small>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--/ Counters Section selector -->

    <!-- Panel content -->
    <div id="dashboard-panel-content">
        @await Html.PartialAsync("_DashboardWateringPanel", Model.WateringTab)
    </div>


<!-- Skip Action Modal -->
<div class="modal fade" id="skipActionModal" tabindex="-1" aria-labelledby="skipActionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="skipActionModalLabel">
                    <i class="bx bx-skip-next me-1"></i>@T("dashboard.owner.skip.title")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-1">@T("dashboard.owner.skip.prompt")</p>
                <p class="fw-semibold skip-plant-name mb-3"></p>
                <div class="d-grid gap-2">
                    <button type="button" id="btnSkipToday" class="btn btn-warning">
                        <i class="bx bx-calendar-x me-1"></i>@T("dashboard.owner.skip.today")
                    </button>
                    <button type="button" id="btnSkipNext" class="btn btn-outline-secondary">
                        <i class="bx bx-bell me-1"></i>@T("dashboard.owner.skip.next")
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">@T("common.cancel")</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        (function () {
            'use strict';
            var state = { section: 'watering', spotId: '@(Model.Query.SpotId?.ToString() ?? string.Empty)' };
            var urls = {
                watering: '@Url.Action("DashboardWateringPanel", "Home")',
                fertilizing: '@Url.Action("DashboardFertilizingPanel", "Home")',
                diseases: '@Url.Action("DashboardDiseasesPanel", "Home")',
                skip: '@Url.Action("SkipAction", "ActionLog")',
                bulkWatering: '@Url.Action("WateringAll", "ActionLog")',
                bulkFertilizing: '@Url.Action("FertilizingAll", "ActionLog")'
            };
            var msg = {
                loading: '@Html.Raw(System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(T("common.loading")))',
                error: '@Html.Raw(System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(T("common.error")))',
                failed: 'Request failed. Please try again.',
                empty: '@Html.Raw(System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(T("dashboard.owner.todayactions.empty")))'
            };
            var $doc = $(document), $panel = $('#dashboard-panel-content'), $modal = $('#skipActionModal');

            function token() { return $('#dashboard-anti-forgery-token input[name="__RequestVerificationToken"]').val() || ''; }

            function toast(type, text) {
                var $c = $('#dashboard-toast-container');
                if (!$c.length) $c = $('<div id="dashboard-toast-container" class="position-fixed bottom-0 end-0 p-3" style="z-index:1100"></div>').appendTo('body');
                var $t = $('<div class="toast align-items-center text-white ' + (type === 'success' ? 'bg-success' : 'bg-danger') + ' border-0" role="alert"><div class="d-flex"><div class="toast-body"></div><button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button></div></div>');
                $t.find('.toast-body').text(text || '');
                $c.append($t);
                new bootstrap.Toast($t[0], { delay: 3200 }).show();
                $t.on('hidden.bs.toast', function () { $t.remove(); });
            }

            function setActive(section) {
                $('.counters-wrapper .card').removeClass('card-border-shadow-primary active');
                $('.counters-wrapper .content-left h4, .counters-wrapper small, .icon3').removeClass('active');
                var $btn = $('.dashboard-section-btn[data-section="' + section + '"]').first();
                $btn.closest('.card').addClass('card-border-shadow-primary active');
                $btn.find('h4, small, .icon3').addClass('active');
            }

            function syncTop() {
                $('#btn-water-all').toggleClass('d-none', state.section !== 'watering');
                $('#btn-fertilize-all').toggleClass('d-none', state.section !== 'fertilizing');
                $('#dashboardSpotFilter').closest('.dropdown').toggleClass('d-none', state.section === 'diseases');
            }

            function bulkBtns(type) {
                return $panel.find('[data-bulk-eligible="true"] .btn-action-done[data-action-type="' + type + '"]');
            }

            function syncBulk() {
                if (state.section === 'watering') $('#btn-water-all').prop('disabled', !bulkBtns('watering').length);
                if (state.section === 'fertilizing') $('#btn-fertilize-all').prop('disabled', !bulkBtns('fertilizing').length);
            }

            function initTooltips($scope) {
                if (!window.bootstrap || !bootstrap.Tooltip) return;

                ($scope || $(document)).find('[data-bs-toggle="tooltip"]').each(function () {
                    var existing = bootstrap.Tooltip.getInstance(this);
                    if (existing) existing.dispose();
                    new bootstrap.Tooltip(this);
                });
            }

            function removeCard($row, counterId) {
                $row.addClass('opacity-50').fadeOut(220, function () {
                    $row.remove();
                    if (counterId) {
                        var $c = $('#' + counterId), n = parseInt($c.text(), 10);
                        if (!isNaN(n) && n > 0) $c.text(n - 1);
                    }
                    syncBulk();
                    if (!$panel.find('[data-dashboard-action-item]:visible').length && !$panel.find('#actions-empty-msg').length)
                        $panel.append('<p id="actions-empty-msg" class="text-muted p-4 mb-0">' + msg.empty + '</p>');
                });
            }

            function loadSection(section) {
                state.section = section;
                setActive(section);
                syncTop();
                $panel.html('<div class="p-4 text-center"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">' + msg.loading + '</span></div></div>');
                var url = section === 'watering' ? urls.watering : (section === 'fertilizing' ? urls.fertilizing : urls.diseases);
                $.get(url, { spotId: state.spotId })
                    .done(function (html) {
                        $panel.html(html);
                        if (section !== 'diseases') {
                            var checked = $('.dashboard-show-upcoming[data-section="' + section + '"]').is(':checked');
                            if (checked) $panel.find('.upcoming-section[data-section="' + section + '"]').removeClass('d-none');
                        }
                        syncBulk();
                        initTooltips($panel);
                    })
                    .fail(function () { $panel.html('<div class="p-4"><p class="text-danger mb-0">' + msg.error + '</p></div>'); });
            }

            function runDone($btn) {
                if ($btn.prop('disabled')) return;
                var type = $btn.data('action-type'), $row = $btn.closest('[data-dashboard-action-item]');
                var payload = {
                    PlantInstanceId: $btn.data('plant-instance-id'),
                    DueStatus: String($btn.data('due-status') || ''),
                    DueDate: String($btn.data('due-date') || ''),
                    __RequestVerificationToken: token()
                };
                if (type === 'watering' && $btn.data('water-amount-l') !== '') payload.WaterAmountL = $btn.data('water-amount-l');
                if (type === 'fertilizing') {
                    if ($btn.data('fertilizer-quantity') !== '') payload.Quantity = $btn.data('fertilizer-quantity');
                    if ($btn.data('fertilizer-unit') !== '') payload.Unit = $btn.data('fertilizer-unit');
                }
                var restore = '<i class="bx bx-check"></i> ' + ($btn.data('label-done') || 'Done');
                $btn.prop('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status"></span>');
                $.ajax({ url: $btn.data('url'), type: 'POST', headers: { RequestVerificationToken: token() }, data: payload })
                    .done(function (res) {
                        if (res && res.success) { removeCard($row, $btn.data('counter')); return; }
                        $btn.prop('disabled', false).html(restore);
                        toast('error', (res && res.message) || msg.failed);
                    })
                    .fail(function () { $btn.prop('disabled', false).html(restore); toast('error', msg.failed); });
            }

            function openSkipModal($btn) {
                var $row = $btn.closest('[data-dashboard-action-item]');
                $modal.find('.skip-plant-name').text($btn.data('plant-name'));
                $modal.data({
                    pid: $btn.data('plant-instance-id'),
                    type: $btn.data('action-type'),
                    freq: $btn.data('frequency-days') || 0,
                    $row: $row,
                    counter: $row.find('.btn-action-done').first().data('counter') || ''
                });
                new bootstrap.Modal($modal[0]).show();
            }

            function runSkip(mode) {
                var d = $modal.data(), $btns = $modal.find('#btnSkipToday, #btnSkipNext');
                $btns.prop('disabled', true);
                $.ajax({
                    url: urls.skip, type: 'POST', headers: { RequestVerificationToken: token() },
                    data: { PlantInstanceId: d.pid, ActionType: d.type, SkipMode: mode, FrequencyDays: d.freq, __RequestVerificationToken: token() }
                }).done(function (res) {
                    var inst = bootstrap.Modal.getInstance($modal[0]); if (inst) inst.hide();
                    $btns.prop('disabled', false);
                    if (res && res.success) { removeCard(d.$row, d.counter); return; }
                    toast('error', (res && res.message) || msg.failed);
                }).fail(function () {
                    var inst = bootstrap.Modal.getInstance($modal[0]); if (inst) inst.hide();
                    $btns.prop('disabled', false);
                    toast('error', msg.failed);
                });
            }

            function runBulk(type, url, $btn) {
                if ($btn.prop('disabled')) return;
                var $items = bulkBtns(type), ids = $items.map(function () { return $(this).data('plant-instance-id'); }).get().filter(Boolean);
                if (!ids.length) return;
                var orig = $btn.html(), data = { __RequestVerificationToken: token() }, idSet = {};
                $.each(ids, function (i, id) { data['PlantInstanceIds[' + i + ']'] = id; idSet[String(id)] = true; });
                $btn.prop('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status"></span>');
                $.ajax({ url: url, type: 'POST', headers: { RequestVerificationToken: token() }, data: data })
                    .done(function (res) {
                        $btn.prop('disabled', false).html(orig);
                        if (!(res && res.success)) { toast('error', (res && res.message) || msg.failed); return; }
                        bulkBtns(type).each(function () {
                            var $d = $(this);
                            if (idSet[String($d.data('plant-instance-id') || '')]) removeCard($d.closest('[data-dashboard-action-item]'), $d.data('counter'));
                        });
                        var n = typeof res.count === 'number' ? res.count : ids.length;
                        if (n > 0) toast('success', ($btn.data('success-template') || 'Completed for {0} items.').replace('{0}', n));
                    })
                    .fail(function () { $btn.prop('disabled', false).html(orig); toast('error', msg.failed); });
            }

            $doc.on('click', '.dashboard-section-btn', function () {
                var s = $(this).data('section');
                if (s && s !== state.section) loadSection(s);
            });
            $doc.on('click', '#dashboardSpotFilterMenu .dropdown-item', function () {
                state.spotId = String($(this).data('spot-value') || '');
                $('#dashboardSpotFilterLabel').text($(this).text());
                $('#dashboardSpotFilterMenu .dropdown-item').removeClass('active');
                $(this).addClass('active');
                loadSection(state.section);
            });
            $doc.on('change', '.dashboard-show-upcoming', function () {
                var section = $(this).data('section');
                $panel.find('.upcoming-section[data-section="' + section + '"]').toggleClass('d-none', !this.checked);
            });
            $doc.on('click', '.btn-action-done', function () { runDone($(this)); });
            $doc.on('click', '.btn-action-skip', function () { openSkipModal($(this)); });
            $doc.on('click', '#btnSkipToday', function () { runSkip('today'); });
            $doc.on('click', '#btnSkipNext', function () { runSkip('next'); });
            $doc.on('click', '#btn-water-all', function () { runBulk('watering', urls.bulkWatering, $(this)); });
            $doc.on('click', '#btn-fertilize-all', function () { runBulk('fertilizing', urls.bulkFertilizing, $(this)); });

            setActive(state.section);
            syncTop();
            syncBulk();
            initTooltips($panel);
        })();
    </script>
}